@media only screen and (min-width: 1024px) and (max-width: 1839px) {
  .login-content-container {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
  }

  .login-content-container .login-content-cover {
    width: 100%;
    height: 100%;
  }

  .login-content-container .login-content-cover .login-form-cover-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 55%;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover {
    width: 80%;
    height: 80%;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form {
    width: 100%;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .login-input-cover-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .login-input-cover-flex .login-input-cover-item {
    width: 100%;
    padding-top: 25px;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .login-input-cover-flex .login-input-cover-item label {
    font-size: 1rem;
    font-weight: 600;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .login-input-cover-flex .login-input-cover-item .login-input {
    width: 100%;
    height: 35px;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .btn-cover-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .btn-cover-flex .btn-cover-item {
    width: 100%;
  }

  .login-content-container .login-content-cover .login-form-cover-flex .login-form-cover-item .login-form-cover .login-form .btn-cover-flex .btn-cover-item .input-btn {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1839px) {
  .dashboard-content-container {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item {
    width: 80%;
    border: 1px solid lightgrey;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover {
    height: 650px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row {
    width: 100%;
    margin: 0px;
    height: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-col {
    border-right: 1px solid lightgrey;
    padding: 0px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col {
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover {
    width: 50%;
    height: 300px;
    margin-top: 35px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .form-header .header-title {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item {
    width: 100%;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover {
    width: 80%;
    height: 230px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .input-cover-flex {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item:first-child {
    padding-bottom: 20px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item:last-child {
    padding-bottom: 30px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item label {
    font-weight: 600;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item .setting-input {
    width: 100%;
    height: 38px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .submit-btn-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .submit-btn-flex .submit-btn-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .settings-form-container .parent-settings-form-cover .settings-form-cover-flex .settings-form-cover-item .form-cover-div .form-cover .submit-btn-flex .submit-btn-item .submit-btn {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item {
    width: 90%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .text-header-cover {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .text-header-cover .shareholder-unit-text {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item {
    width: 70%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 25px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex .list-item-item:first-child {
    width: 75%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex .list-item-item:first-child .vote-name-text {
    font-size: 1.1rem;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex .list-item-item:last-child {
    width: 25%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex .list-item-item:last-child .vote-action-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex .list-item-item:last-child .vote-action-flex .vote-action-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-items-cover-flex .vote-item-cover-item .vote-items-list-cover .vote-items-list-flex .vote-items-list-item .list-item-flex .list-item-item:last-child .vote-action-flex .vote-action-item .vote-action-btn {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container {
    width: 100%;
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover {
    width: 70%;
    height: 90%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .form-header .header-title {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item {
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover {
    width: 80%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .input-cover-flex {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item:first-child {
    padding-bottom: 20px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item:last-child {
    padding-bottom: 30px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item label {
    font-weight: 600;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item .shareholder-input {
    width: 100%;
    height: 35px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .submit-btn-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .submit-btn-flex .submit-btn-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .shareholders-form-container .parent-shareholders-form-cover .shareholders-form-cover-flex .shareholders-form-cover-item .form-cover-div .form-cover .submit-btn-flex .submit-btn-item .submit-btn {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover {
    width: 50%;
    height: 300px;
    margin-top: 35px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .form-header .header-title {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item {
    width: 100%;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover {
    width: 80%;
    height: 230px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .input-cover-flex {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item:first-child {
    padding-bottom: 20px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item:last-child {
    padding-bottom: 30px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item label {
    font-weight: 600;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .input-cover-flex .input-cover-item .vote-item-input {
    width: 100%;
    height: 38px;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .submit-btn-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .submit-btn-flex .submit-btn-item {
    width: 100%;
  }

  .dashboard-content-container .dashboard-content-cover .dashboard-content-cover-flex .dashboard-content-cover-item .dashboard-sidenav-cover .sidenav-row .sidenav-content-col .vote-item-form-container .parent-vote-item-form-cover .vote-item-form-cover-flex .vote-item-form-cover-item .form-cover-div .form-cover .submit-btn-flex .submit-btn-item .submit-btn {
    width: 100%;
  }
}

